header {
    height: 15vh;
    background-color: antiquewhite;

}

img {
    height: 100%;
    width: 100%;
}

.logo {
    height: 100%;
    margin: 0;
}

.camera:hover {
    cursor: pointer;
}

.logo-name {
    float: left;
    align-self: left;
    padding: 5px;
}

.logo-name h1,
.logo-name h4 {
    height: 50%;
    margin: 0;
}

.logo-name h4 {
    margin: 5px;

    opacity: 0.5;
}